// always but the animation state in the start
.fade-in-up{
  opacity: 0;
  animation:fade-in-up 0.5s $global-easing forwards;
  animation-play-state: paused;
  &.animate{
    animation-play-state: running;
  }
}


.fill-text {
  @keyframes _{
    0% {
      background-size: 00% 100%;
    }
    100% {
      background-size: 150% 200%;
    }
  }
  font-weight: bold;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, .5);

  /* Clip Background Image */
  background: url("/images/logo1.png") no-repeat 0% 0 / 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.1);

  // Animation
  animation:_ 5s $global-easing forwards;

  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;

  &.infinite{
    animation-duration: infinite;
  }
}