// Dont forget seperations of concerns
.#{$prefix} {
  &-side-bar {
    @extend %fixed;
    @extend %top-right;
    @extend %hide-right;
    @extend %fill-vertical;
    @extend %default-transition;
    background-color: white;
    z-index:9999999;
    width:100%;
    &.active{
      @extend %top-right;
      .navi{
        li{
          animation:left-out 0.4s 0.3s $global-easing;
        }
      }
    }
    &.in-active{
      animation:left-out 0.4s $global-easing;
    }

    .close{
      position:absolute;
      right:0;
      margin:2em;
      top:0
    }

    .navi{
      margin: 0;
      padding: 0;
      margin-top: 20%;
      li{
        text-align: center;
        font-size: 1.4em;
      }
    }
  }
}
