.text-card {
 &.dark{
   margin:2em 0 4em 0;
   text-align: center;
   .__heading {
     color: $color-theme-3;
   }
   .__subheading {
     color: darken($color-theme-3, 20%);
   }
   .__image {
     height:3em;
     margin: 1em 0;
   }
 }
  &.padded {
    padding: 0 6em;
  }
  &.bordered {
    border-right: solid 1px transparentize(darkgrey, 0.4);
    padding: 0 2em;
    &:last-child {
      border: none;
      padding-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }

  @include sm {
    padding: 0 !important;
    border: none !important;
  }
  @include xs {
    padding: 0 !important;
    border: none !important;
  }
}

.tiny-card-wrapper {
  padding-left: 0 !important;
}

.tiny-card {
  width: 100%;
  padding: 2em 1em;
  text-align: center;
  transition: all 0.4s $global-easing;
  * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  img {
    height: 3.5em;
  }
  .__heading {
    margin: 0.7em;
    font-family: "Circular Std Book";
  }
  .__subheading {
    margin: 0.4em;
    color: lighten($text-theme-2, 20%);
  }
  &.theme-1 {
    background-color: lighten($color-theme-1, 40%);
    border: solid 1px $color-theme-1;

    &:hover {
      border-color: darken($color-theme-1, 60%);
    }
    .__heading {
      color: $text-theme-2;
    }
    .__subheading {
      color: lighten($text-theme-2, 20%);
    }
  }
  &.theme-2 {
    background-color: lighten($color-theme-2, 80%);
    border: solid 1px $color-theme-2;

    &:hover {
      border-color: darken($color-theme-2, 60%);
    }
  }
  &.theme-3 {
    background-color: lighten($color-theme-3, 20%);
    border: solid 1px $color-theme-3;

    &:hover {
      border-color: darken($color-theme-3, 60%);
    }
  }
}

.stamp-box {
  margin: 2em;
  .__heading_stamp {
    font-size: 10px;
    text-transform: uppercase;
    color: grey;
    @extend h2;
    margin-bottom: 1px;
    line-height: 1em;
    margin: 0 !important;
  }
  .__heading {
    font-size: 1.2em;
    @extend h2;
    margin-bottom: 1px;
  }
  .__subheading {
    color: lighten($color-theme-2, 3%);
  }
}