@font-face {
  font-family: 'Cocon';
  src: url('/fonts/cocon.eot') format('embedded-opentype'),
  url('/fonts/cocon.woff') format('woff2'),
  url('/fonts/cocon.ttf') format('truetype'),
  url('/fonts/cocon.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Bold';
  src: url('/fonts/circularstd-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('/fonts/circularstd-book.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

*::-moz-selection,
*::selection { /* Code for Firefox */
  color: $color-theme-2;
  background: $color-theme-1;
}

* {
  -moz-osx-font-smoothing: antialias;
}

body {
  font-size: 13px;
  font-family: "Circular Std Book";
}

a {
  line-height: 2.5em;
  font-weight: bolder;
  font-family: "Circular Std Book";
  &:hover {
    text-decoration: none !important;
  }
}

* {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cocon" !important;
  font-weight: bolder;
  line-height: 1.4em !important;
}

p {
  font-size:14.5px;
  font-family: "Circular Std Book";
  line-height: 1.5em;
}

.heading {
  padding: 0.5em !important;
}